h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

img {
  display: block;
}

/* Header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  background: #fff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  margin-right: 76px;
}

.logo-second {
  color: #2e2f42;
}

.header-nav-ul {
  display: flex;
  max-width: 261px;
  gap: 40px;
}

.nav-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.current {
  position: relative;
  color: #404bbf;
}

.current::after {
  content: "";
  position: absolute;
  background-color: #404bbf;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
}

.address {
  font-style: normal;
}

.header-address-ul {
  display: flex;
  max-width: 344px;
  column-gap: 40px;
  gap: 40px;
}

.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/* Order_Service */

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.order-service {
  padding: 188px 0;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people_office.jpg");
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

.main-title {
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.but {
  border: none;
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.but:hover,
.but:focus {
  background: #404bbf;
}

/* Section_Benefits */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container-benefits-ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;
}

.container-benefits-ul-li {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  max-width: calc((100% - 72px) / 4);
}

.icon-benefits {
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
}

.icon-benefits-svg {
}

.title-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Section_Team */

.our-team {
  background: #f4f4fd;
}

.title-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.container-team-ul {
  margin-top: 74px;
  display: flex;
  column-gap: 24px;
  gap: 24px;
}

.our-team-item {
  border-radius: 0 0 4px 4px;
  width: calc((100% - 72px) / 4);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: #ffffff;
}

.img-team-description {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  padding: 32px 0;
  width: 232px;
  margin: 0 auto;
}

.al-centr {
  text-align: center;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  width: 100%;
}

.social-list-item {
  /* width: 40px;
  height: 40px; */
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
}

.social-list-icon {
  fill: #f4f4fd;
}

/* Section_Portfolio */

.container-portfolio-ul {
  margin-top: 69px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.container-portfolio-ul-li {
  position: relative;
  overflow: hidden;
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-portfolio-ul-li:hover,
.container-portfolio-ul-li:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.container-img {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  line-height: 1.5;
  letter-spacing: 0.02em;
  top: 0;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  margin: 0 auto;
}

.container-portfolio-ul-li:hover .overlay-text {
  transform: translateY(0);
}

.img-description {
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  padding: 32px 16px;
}

/* Footer */

.cellar {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #2e2f42;
}

.container-footer {
  display: flex;
  align-items: baseline;
}

.container-footer-logo {
  margin-right: 120px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-color {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

p.footer-color {
  max-width: 264px;
}

.footer-social-list {
  width: 208px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-right: 80px;
}

.social-media {
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 16px;
}

.social-list-footer {
  display: flex;
  gap: 16px;
}

.social-list-item-footer {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link-footer {
  width: 100%;
  height: 100%;
}

.social-list-link-footer:hover,
.social-list-link-footer:focus {
  background-color: #31d0aa;
}

.email-input-send {
  display: flex;
  gap: 24px;
}

.footer-email-input {
  border: 1px solid white;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.footer-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  background-color: #5a4fcf;
}

/* Backdrop styles */

.backdrop {
  position: fixed;
  z-index: 7777777;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: inherit;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  padding: 72px 24px 24px 24px;
  position: absolute;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  fill: #2e2f42;
  background-color: #e7e9fc;
  padding: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
  fill: #fff;
  background-color: #404bbf;
  border: none;
}

.modal-close-button-icon {
}

.modal-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.form-contacts {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  border-radius: 4px;
  width: 100%;
  min-height: 336px;
}

.form-contacts-wrapper {
  border: 1px solid var(--iris);
  border-radius: 4px;
}

.form-input-label,
.form-textarea-label,
.form-checkbox-label {
  display: block;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  margin-bottom: 4px;
}

.form-input-wrapper {
  position: relative;
  width: 360px;
  height: 40px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-wrapper:hover .form-input-icon,
.form-input-wrapper:focus .form-input-icon {
  fill: #404bbf;
}

.form-input-wrapper:hover .form-input,
.form-input-wrapper:focus .form-input,
.form-textarea-input:hover,
.form-textarea-input:focus {
  border: 1px solid #5a4fcf;
}

.form-input,
.form-textarea-input {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding-left: 38px;
  background-color: transparent;
}

.form-textarea-input {
  height: 120px;
  padding: 8px 16px;
}

.form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox-wrapper {
  display: flex;
  margin-bottom: 24px;
}

.form-checkbox-input {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.form-submit {
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #404bbf;
  margin: 0 auto;
}

.button-text {
  display: block;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: white;
  margin: auto;
}
